{% extends "aiml_app/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Registration Successful!</h2>
    <p>Thank you {{ first_name }} {{ last_name }} for registering for AIML 2025.</p>

    <h4>Registration Details:</h4>
    <ul>
        <li>Email: {{ email }}</li>
        <li>Phone: {{ phone_number }}</li>
        <li>Designation: {{ designation }}</li>
        <li>Institution: {{ institution_name }}</li>
        <li>Address: {{ address }}</li>
        <li>Country: {{ country }}</li>
        <li>Registration Type: {{ registration_type }}</li>
        <li>Payment Option: {{ payment_option }}</li>
        <li>Registration Fee: ${{ registration_fee }}</li>
    </ul>
</div>
{% endblock %}
