<!-- aiml_app/templates/aiml_app/speaker_request.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Thank you page {% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4">Thank you page</h1>
            
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5>Thank you page for Sponsorship  </h5>
                     <body>

                        Thank you for being our valuable sponsor.

                     </body>
                </div>
            </div>
            
             
        </div>
    </div>
</div>
{% endblock %}