<!-- aiml_app/templates/aiml_app/index.html -->
{% extends "base.html" %}

{% block title %}Upcoming Events{% endblock %}

{% block content %}


<section class="event-agenda py-5">
    <div class="container">
        <h3 class="text-center mb-5">Why attend</h3>
        
        Our events bring together the latest technology advancements as well as practical examples to apply AI to solve challenges in business and society. Our unique mix of academia and industry enables you to meet with AI pioneers at the forefront of research, as well as exploring real-world case studies to discover the business value of AI. 
        </div>
    </div>
</section>
 
 
  

 
{% endblock %}